* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f9fc;
  color: #111;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

.btn {
  background-color: #4f46e5;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  display: inline-block;
  margin-top: 10px;
}
.btn:hover {
  background-color: #3730a3;
  transform: scale(1.05);
  transition: all 0.3s ease;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
   background: url('Hero-bg.png') no-repeat center center/cover;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  color: #4f46e5;
}
.section {
  text-align: center;
  padding: 60px 20px;
  background-color: #f0f4ff;
  background: url('Hero-bg.png') no-repeat center center/cover;
}

.section h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}
.action {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 60px 20px;
  justify-content: center;
  gap: 40px;
  background-color: rgb(238, 248, 255);
}

.action2 {
  max-width: 400px;
}

.action-pic{
  max-width: 300px;
  border-radius: 20px;
}
.productive-content {
  text-align: center;
  background-color: rgb(254, 247, 237);
}

.productive h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}
.productive h3{
  font-size: 40px;
  color: #4f46e5;
}
.productive-boxes {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.reviews {
  text-align: left ;
  padding: 60px 20px;
  background-color: #f7f9fc;
}

.review-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.review {
  background-color: #f5ecec;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}
.reviewer-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 10px;
  align-items: left;
}

.focus {
  text-align: center;
  padding: 60px 20px;
  background-color: #eef8fb;
}

.focus-image {
  max-width: 500px;
  margin-top: 20px;
  border-radius: 20px;
}
.contact {
  background-color: #eef1ff;
  padding: 60px 20px;
  text-align: center;
}
.contact-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  max-width: 1000px;
  margin: auto;
  flex-wrap: wrap;
  text-align: left;
}
.contact-title {
  flex: 1;
  text-align: center;
  font-size: 50px;
  margin-bottom: 30px;
  margin-top: 70px;
}
.contact form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
}

.contact input,
.contact textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}
.footer {
  padding: 40px 20px;
  text-align: center;
  background-color: #fff;
  color: #444;
}

.footer-links {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.footer-links a {
  color: #4f46e5;
}
